In [1531]:
import pandas as pd
import numpy as np

In [1532]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [1533]:
df1 = pd.read_csv("report2018SpringStaar38.csv", header=1)
df2 = pd.read_csv("report2018SpringStaar38_2.csv", header=1)
df_alg1a = pd.read_csv("reportEOC_alg1a.csv", header=1)
df_alg1b = pd.read_csv("reportEOC_alg1b.csv", header=1)
df_eng1 = pd.read_csv("reportEOC_eng1.csv", header=2)
df_eng2 = pd.read_csv("reportEOC_eng2.csv", header=2)
df_ushistory = pd.read_csv("reportEOC_UShistory.csv", header=2)
df_biology = pd.read_csv("reportEOC_biology.csv", header=2)

In [1534]:
pd.Series(df1.columns);
pd.Series(df_alg1a.columns);
pd.Series(df_eng1.columns);

In [1535]:
df_alg1a.head(3);

### STAAR 38 concatenation into single data frame from 2 DFs ###

In [1536]:
df1copy = df1.iloc[:, [0, 2, 6, 12, 18, 24, 30]].copy() # to suppress SettingWithCopyWarning below
df2copy = df2.iloc[:, [0, 2, 6, 12, 18, 24, 30]].copy() # to suppress SettingWithCopyWarning below

In [1537]:
pd.options.display.max_rows = 150
df1copy;

In [1538]:
df1copy['Group'].unique()
df2copy['Group'].unique()

array(['State', 'ARLINGTON ISD', 'DALLAS ISD (057905)', 'FORT WORTH ISD',
       'GRAND PRAIRIE ISD', 'IRVING ISD', 'UPLIFT EDUCATION',
       'UPLIFT EDUCATION - INFINITY PREPARATORY MIDDLE SCH',
       'UPLIFT EDUCATION - INFINITY PREPARATORY PRI',
       'UPLIFT EDUCATION - UPLIFT GRAND PREPARATORY',
       'UPLIFT GRADUS PREPARATORY', 'UPLIFT HAMPTON PREPARATORY MIDDLE',
       'UPLIFT HAMPTON PREPARATORY PRI',
       'UPLIFT HEIGHTS PREPARATORY MIDDLE',
       'UPLIFT HEIGHTS PREPARATORY PRI', 'UPLIFT LUNA PREPARATORY PRI',
       'UPLIFT PEAK PREPARATORY MIDDLE', 'UPLIFT PEAK PREPARATORY PRI',
       'UPLIFT PINNACLE PREPARATORY PRI',
       'UPLIFT TRIUMPH PREPARATORY SCHOOL'], dtype=object)

array(['UPLIFT EDUCATIION-NORTH HILLS PREP PRI',
       'UPLIFT EDUCATION-NORTH HILLS PREP MIDDLE',
       'UPLIFT MERIDIAN SCHOOL', 'UPLIFT MIGHTY MIDDLE',
       'UPLIFT MIGHTY SCHOOL', 'UPLIFT SUMMIT INTERNATIONAL MIDDLE',
       'UPLIFT SUMMIT INTERNATIONAL PRI',
       'UPLIFT WILLIAMS PREPARATORY MIDDLE',
       'UPLIFT WILLIAMS PREPARATORY PRI'], dtype=object)

In [1539]:
df1copy.replace('UPLIFT EDUCATION - INFINITY PREPARATORY MIDDLE SCH', 'INFINITY', inplace=True)
df1copy.replace('UPLIFT EDUCATION - INFINITY PREPARATORY PRI', 'INFINITY', inplace=True)
df1copy.replace('UPLIFT EDUCATION - UPLIFT GRAND PREPARATORY', 'GRAND', inplace=True)
df1copy.replace('UPLIFT HAMPTON PREPARATORY MIDDLE','HAMPTON', inplace=True)
df1copy.replace('UPLIFT HAMPTON PREPARATORY PRI','HAMPTON', inplace=True)
df1copy.replace('UPLIFT HEIGHTS PREPARATORY MIDDLE','HEIGHTS', inplace=True)
df1copy.replace('UPLIFT HEIGHTS PREPARATORY PRI','HEIGHTS', inplace=True)
df1copy.replace('UPLIFT LUNA PREPARATORY PRI','LUNA', inplace=True)
df1copy.replace('UPLIFT PEAK PREPARATORY MIDDLE','PEAK', inplace=True)
df1copy.replace('UPLIFT PEAK PREPARATORY PRI','PEAK', inplace=True)
df1copy;

In [1540]:
df2copy.replace('UPLIFT EDUCATIION-NORTH HILLS PREP PRI','NORTH HILLS', inplace=True)
df2copy.replace('UPLIFT EDUCATION-NORTH HILLS PREP MIDDLE','NORTH HILLS', inplace=True)
df2copy.replace('UPLIFT MIGHTY MIDDLE','MIGHTY', inplace=True)
df2copy.replace('UPLIFT MIGHTY SCHOOL','MIGHTY', inplace=True)
df2copy.replace('UPLIFT SUMMIT INTERNATIONAL MIDDLE','SUMMIT', inplace=True)
df2copy.replace('UPLIFT SUMMIT INTERNATIONAL PRI','SUMMIT', inplace=True)
df2copy.replace('UPLIFT WILLIAMS PREPARATORY MIDDLE','WILLIAMS', inplace=True)
df2copy.replace('UPLIFT WILLIAMS PREPARATORY PRI','WILLIAMS', inplace=True)
df2copy;

In [1541]:
met_staar38 = pd.concat([df1copy, df2copy], ignore_index=True)
met_staar38;

In [1542]:
met_staar38.rename(index=str, columns={'STAAR - Reading - Approaches - %':'Reading',
                    'STAAR - Mathematics - Approaches - %': 'Math',
                      'STAAR - Writing - Approaches - %':'Writing',
                      'STAAR - Science - Approaches - %': 'Sc',
                      'STAAR - Social Studies - Approaches - %':'SS'}, inplace=True)

In [1543]:
met_staar38.head(20)

                  Group  Grade  Reading  Math  Writing    Sc    SS
0                 State      3       76    77      NaN   NaN   NaN
1                 State      4       72    78     61.0   NaN   NaN
2                 State      5       78    84      NaN  75.0   NaN
3                 State      6       66    76      NaN   NaN   NaN
4                 State      7       72    71     67.0   NaN   NaN
5                 State      8       76    78      NaN  74.0  64.0
6         ARLINGTON ISD      3       70    71      NaN   NaN   NaN
7         ARLINGTON ISD      4       67    74     57.0   NaN   NaN
8         ARLINGTON ISD      5       74    80      NaN  69.0   NaN
9         ARLINGTON ISD      6       65    76      NaN   NaN   NaN
10        ARLINGTON ISD      7       68    69     63.0   NaN   NaN
11        ARLINGTON ISD      8       73    65      NaN  70.0  59.0
12  DALLAS ISD (057905)      3       67    74      NaN   NaN   NaN
13  DALLAS ISD (057905)      4       62    75     51.0   NaN   NaN
14  DALLAS ISD (057905)      5       71    81      NaN  69.0   NaN
15  DALLAS ISD (057905)      6       54    67      NaN   NaN   NaN
16  DALLAS ISD (057905)      7       62    54     56.0   NaN   NaN
17  DALLAS ISD (057905)      8       65    76      NaN  66.0  59.0
18       FORT WORTH ISD      3       67    65      NaN   NaN   NaN
19       FORT WORTH ISD      4       62    66     49.0   NaN   NaN

### EOC Concatenation into single data frame from 6 individual DFs ###

##### Algebra I #####

In [1544]:
df_alg1 = pd.concat([df_alg1a,df_alg1b], ignore_index=True)

In [1545]:
df_alg1copy = df_alg1.iloc[:, [0, 5]].copy()

In [1546]:
df_alg1copy.rename(index=str, columns={'STAAR - Approaches - %':'Alg1'}, inplace=True)

In [1547]:
df_alg1copy

                                                Group  Alg1
0                                               State    83
1                                       ARLINGTON ISD    79
2                                 DALLAS ISD (057905)    82
3                                      FORT WORTH ISD    76
4                                   GRAND PRAIRIE ISD    85
5                                          IRVING ISD    86
6                                    UPLIFT EDUCATION    84
7   UPLIFT EDUCATION - INFINITY PREPARATORY MIDDLE...    98
8                                    UPLIFT GRAND H S    79
9                              UPLIFT GRAND SECONDARY   100
10                     UPLIFT HAMPTON PREPARATORY H S    72
11                  UPLIFT HAMPTON PREPARATORY MIDDLE    76
12                     UPLIFT HEIGHTS PREPARATORY H S    91
13                  UPLIFT HEIGHTS PREPARATORY MIDDLE   100
14                        UPLIFT LUNA PREPARATORY H S    58
15                        UPLIFT PEAK PREPARATORY H S    77
16                     UPLIFT PEAK PREPARATORY MIDDLE    96
17                    UPLIFT WILLIAMS PREPARATORY H S    75
18                 UPLIFT WILLIAMS PREPARATORY MIDDLE    97
19              UPLIFT EDUCATION-NORTH HILLS PREP H S    77
20           UPLIFT EDUCATION-NORTH HILLS PREP MIDDLE    99
21                                  UPLIFT MIGHTY H S    34
22                               UPLIFT MIGHTY MIDDLE    80
23                    UPLIFT SUMMIT INTERNATIONAL H S    45
24                 UPLIFT SUMMIT INTERNATIONAL MIDDLE    73
25                    UPLIFT WILLIAMS PREPARATORY H S    75
26                 UPLIFT WILLIAMS PREPARATORY MIDDLE    97

##### English 1 #####

In [1548]:
df_eng1copy = df_eng1.iloc[:,[0,5]].copy()
df_eng1copy.rename(index=str, columns={'STAAR - Approaches - %':'Eng1'}, inplace=True)
df_eng1copy.head(3)

                 Group  Eng1
0                State    60
1        ARLINGTON ISD    55
2  DALLAS ISD (057905)    50

##### Eng 2 #####

In [1549]:
df_eng2copy = df_eng2.iloc[:,[0,5]].copy()
df_eng2copy.rename(index=str, columns={'STAAR - Approaches - %':'Eng2'}, inplace=True)
df_eng2copy.head(3)

                 Group  Eng2
0                State    66
1        ARLINGTON ISD    61
2  DALLAS ISD (057905)    57

##### US History #####

In [1550]:
df_ushistoryCopy = df_ushistory.iloc[:,[0,5]].copy()
df_ushistoryCopy.rename(index=str, columns={'STAAR - Approaches - %':'History'}, inplace=True)
df_ushistoryCopy.head(3)

                 Group  History
0                State       92
1        ARLINGTON ISD       90
2  DALLAS ISD (057905)       93

##### Biology #####

In [1551]:
df_biologyCopy = df_biology.iloc[:,[0,5]].copy()
df_biologyCopy.rename(index=str, columns={'STAAR - Approaches - %':'Biology'}, inplace=True)
df_biologyCopy.head(3)

                 Group  Biology
0                State       87
1        ARLINGTON ISD       84
2  DALLAS ISD (057905)       84

#### Combine #####

In [1552]:
met_eoc = df_alg1copy.merge(df_eng1copy, how='outer', on='Group')
met_eoc = met_eoc.merge(df_eng2copy, how='outer', on='Group')
met_eoc = met_eoc.merge(df_ushistoryCopy, how='outer', on='Group')
met_eoc = met_eoc.merge(df_biologyCopy, how='outer', on='Group')

In [1553]:
met_eoccopy = met_eoc.copy()
met_eoccopy['Grade'] = 'EOC'
met_eoccopy

,Group,Alg1,Eng1,Eng2,History,Biology,Grade
0,State,83.0,60.0,66.0,92.0,87.0,EOC
1,ARLINGTON ISD,79.0,55.0,61.0,90.0,84.0,EOC
2,DALLAS ISD (057905),82.0,50.0,57.0,93.0,84.0,EOC
3,FORT WORTH ISD,76.0,49.0,55.0,93.0,81.0,EOC
4,GRAND PRAIRIE ISD,85.0,53.0,58.0,92.0,80.0,EOC
5,IRVING ISD,86.0,56.0,57.0,91.0,86.0,EOC
6,UPLIFT EDUCATION,84.0,67.0,76.0,93.0,91.0,EOC
7,UPLIFT EDUCATION - INFINITY PREPARATORY MIDDLE...,98.0,NaN,NaN,NaN,NaN,EOC
8,UPLIFT GRAND H S,79.0,73.0,85.0,NaN,NaN,EOC
9,UPLIFT GRAND SECONDARY,100.0,NaN,NaN,NaN,NaN,EOC
10,UPLIFT HAMPTON PREPARATORY H S,72.0,67.0,74.0,93.0,95.0,EOC
11,UPLIFT HAMPTON PREPARATORY MIDDLE,76.0,NaN,NaN,NaN,NaN,EOC
12,UPLIFT HEIGHTS PREPARATORY H S,91.0,54.0,67.0,93.0,89.0,EOC
13,UPLIFT HEIGHTS PREPARATORY MIDDLE,100.0,NaN,NaN,NaN,NaN,EOC
14,UPLIFT LUNA PREPARATORY H S,58.0,50.0,63.0,95.0,88.0,EOC
15,UPLIFT PEAK PREPARATORY H S,77.0,63.0,74.0,82.0,85.0,EOC
16,UPLIFT PEAK PREPARATORY MIDDLE,96.0,NaN,NaN,NaN,NaN,EOC
17,UPLIFT WILLIAMS PREPARATORY H S,75.0,66.0,77.0,91.0,87.0,EOC
18,UPLIFT WILLIAMS PREPARATORY H S,75.0,66.0,77.0,91.0,87.0,EOC
19,UPLIFT WILLIAMS PREPARATORY MIDDLE,97.0,NaN,NaN,NaN,NaN,EOC
20,UPLIFT WILLIAMS PREPARATORY MIDDLE,97.0,NaN,NaN,NaN,NaN,EOC
21,UPLIFT EDUCATION-NORTH HILLS PREP H S,77.0,92.0,95.0,99.0,98.0,EOC
22,UPLIFT EDUCATION-NORTH HILLS PREP MIDDLE,99.0,NaN,NaN,NaN,NaN,EOC
23,UPLIFT MIGHTY H S,34.0,63.0,68.0,87.0,89.0,EOC
24,UPLIFT MIGHTY MIDDLE,80.0,NaN,NaN,NaN,NaN,EOC
25,UPLIFT SUMMIT INTERNATIONAL H S,45.0,80.0,80.0,95.0,95.0,EOC
26,UPLIFT SUMMIT INTERNATIONAL MIDDLE,73.0,NaN,NaN,NaN,NaN,EOC
27,UPLIFT INFINITY H S,NaN,55.0,79.0,95.0,86.0,EOC

In [1554]:
met_eoccopy.drop_duplicates(inplace=True)
met_eoccopy.reset_index(drop=True,inplace=True)

In [1555]:
met_eoccopy.drop([7, 9, 11, 13, 16, 18, 20, 22, 24], inplace=True)
met_eoccopy.reset_index(drop=True, inplace=True)

In [1556]:
met_eoccopy.replace('UPLIFT HAMPTON PREPARATORY H S','HAMPTON', inplace=True)
met_eoccopy.replace('UPLIFT HEIGHTS PREPARATORY H S','HEIGHTS', inplace=True)
met_eoccopy.replace('UPLIFT LUNA PREPARATORY H S','LUNA', inplace=True)
met_eoccopy.replace('UPLIFT PEAK PREPARATORY H S','PEAK', inplace=True)
met_eoccopy.replace('UPLIFT WILLIAMS PREPARATORY H S','WILLIAMS', inplace=True)
met_eoccopy.replace('UPLIFT EDUCATION-NORTH HILLS PREP H S','NORTH HILLS', inplace=True)
met_eoccopy.replace('UPLIFT MIGHTY H S','MIGHTY', inplace=True)
met_eoccopy.replace('UPLIFT SUMMIT INTERNATIONAL H S','SUMMIT', inplace=True)
met_eoccopy.replace('UPLIFT INFINITY H S','INFINITY', inplace=True)
met_eoccopy.replace('UPLIFT GRAND H S', 'GRAND', inplace=True)

### Combine STAAR38 and EOC ###

In [1557]:
met_staar38['Alg1'] = np.nan
met_staar38['Eng1'] = np.nan
met_staar38['Eng2'] = np.nan
met_staar38['History'] = np.nan
met_staar38['Biology'] = np.nan
met_staar38

,Group,Grade,Reading,Math,Writing,Sc,SS,Alg1,Eng1,Eng2,History,Biology
0,State,3,76,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,State,4,72,78,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,5,78,84,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN
3,State,6,66,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,State,7,72,71,67.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,State,8,76,78,NaN,74.0,64.0,NaN,NaN,NaN,NaN,NaN
6,ARLINGTON ISD,3,70,71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,ARLINGTON ISD,4,67,74,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,ARLINGTON ISD,5,74,80,NaN,69.0,NaN,NaN,NaN,NaN,NaN,NaN
9,ARLINGTON ISD,6,65,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,ARLINGTON ISD,7,68,69,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,ARLINGTON ISD,8,73,65,NaN,70.0,59.0,NaN,NaN,NaN,NaN,NaN
12,DALLAS ISD (057905),3,67,74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,DALLAS ISD (057905),4,62,75,51.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,DALLAS ISD (057905),5,71,81,NaN,69.0,NaN,NaN,NaN,NaN,NaN,NaN
15,DALLAS ISD (057905),6,54,67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,DALLAS ISD (057905),7,62,54,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,DALLAS ISD (057905),8,65,76,NaN,66.0,59.0,NaN,NaN,NaN,NaN,NaN
18,FORT WORTH ISD,3,67,65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,FORT WORTH ISD,4,62,66,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,FORT WORTH ISD,5,70,76,NaN,64.0,NaN,NaN,NaN,NaN,NaN,NaN
21,FORT WORTH ISD,6,56,61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,FORT WORTH ISD,7,62,44,53.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,FORT WORTH ISD,8,61,67,NaN,62.0,48.0,NaN,NaN,NaN,NaN,NaN
24,GRAND PRAIRIE ISD,3,74,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,GRAND PRAIRIE ISD,4,70,75,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,GRAND PRAIRIE ISD,5,77,83,NaN,73.0,NaN,NaN,NaN,NaN,NaN,NaN
27,GRAND PRAIRIE ISD,6,60,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,GRAND PRAIRIE ISD,7,66,69,47.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,GRAND PRAIRIE ISD,8,73,79,NaN,71.0,58.0,NaN,NaN,NaN,NaN,NaN
30,IRVING ISD,3,65,68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,IRVING ISD,4,60,74,51.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,IRVING ISD,5,72,78,NaN,69.0,NaN,NaN,NaN,NaN,NaN,NaN
33,IRVING ISD,6,55,67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,IRVING ISD,7,59,70,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,IRVING ISD,8,60,71,NaN,65.0,52.0,NaN,NaN,NaN,NaN,NaN
36,UPLIFT EDUCATION,3,67,71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,UPLIFT EDUCATION,4,62,74,53.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,UPLIFT EDUCATION,5,74,84,NaN,63.0,NaN,NaN,NaN,NaN,NaN,NaN
39,UPLIFT EDUCATION,6,64,79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,UPLIFT EDUCATION,7,71,69,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,UPLIFT EDUCATION,8,81,75,NaN,74.0,63.0,NaN,NaN,NaN,NaN,NaN
42,INFINITY,6,74,94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,INFINITY,7,76,77,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,INFINITY,8,85,100,NaN,84.0,77.0,NaN,NaN,NaN,NaN,NaN
45,INFINITY,3,77,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,INFINITY,4,62,75,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,INFINITY,5,71,82,NaN,54.0,NaN,NaN,NaN,NaN,NaN,NaN
48,GRAND,3,63,65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,GRAND,4,54,58,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,GRAND,5,71,82,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN
51,UPLIFT GRADUS PREPARATORY,3,60,64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,UPLIFT GRADUS PREPARATORY,4,68,74,47.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,HAMPTON,6,52,79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,HAMPTON,7,64,38,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,HAMPTON,8,85,0,NaN,63.0,52.0,NaN,NaN,NaN,NaN,NaN
56,HAMPTON,3,59,61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,HAMPTON,4,56,67,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,HAMPTON,5,70,84,NaN,52.0,NaN,NaN,NaN,NaN,NaN,NaN
59,HEIGHTS,6,61,79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,HEIGHTS,7,61,73,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,HEIGHTS,8,76,90,NaN,72.0,53.0,NaN,NaN,NaN,NaN,NaN
62,HEIGHTS,3,63,63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,HEIGHTS,4,55,81,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,HEIGHTS,5,76,78,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN
65,LUNA,3,79,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,LUNA,4,71,75,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,LUNA,5,79,93,NaN,76.0,NaN,NaN,NaN,NaN,NaN,NaN
68,PEAK,6,48,63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,PEAK,7,64,69,68.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,PEAK,8,82,64,NaN,79.0,66.0,NaN,NaN,NaN,NaN,NaN
71,PEAK,3,77,81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,PEAK,4,73,89,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,PEAK,5,78,78,NaN,49.0,NaN,NaN,NaN,NaN,NaN,NaN
74,UPLIFT PINNACLE PREPARATORY PRI,3,67,71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,UPLIFT PINNACLE PREPARATORY PRI,4,62,68,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,UPLIFT PINNACLE PREPARATORY PRI,5,68,89,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN
77,UPLIFT TRIUMPH PREPARATORY SCHOOL,3,64,74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,UPLIFT TRIUMPH PREPARATORY SCHOOL,4,63,68,46.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,UPLIFT TRIUMPH PREPARATORY SCHOOL,5,71,89,NaN,69.0,NaN,NaN,NaN,NaN,NaN,NaN
80,NORTH HILLS,3,94,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NORTH HILLS,4,91,92,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,NORTH HILLS,5,98,98,NaN,92.0,NaN,NaN,NaN,NaN,NaN,NaN
83,NORTH HILLS,6,94,94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,NORTH HILLS,7,98,97,97.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,NORTH HILLS,8,98,90,NaN,96.0,89.0,NaN,NaN,NaN,NaN,NaN
86,UPLIFT MERIDIAN SCHOOL,3,58,62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,UPLIFT MERIDIAN SCHOOL,4,44,66,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,UPLIFT MERIDIAN SCHOOL,5,61,71,NaN,43.0,NaN,NaN,NaN,NaN,NaN,NaN
89,MIGHTY,6,62,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,MIGHTY,7,54,30,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,MIGHTY,8,69,31,NaN,45.0,32.0,NaN,NaN,NaN,NaN,NaN
92,MIGHTY,3,44,62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,MIGHTY,4,50,65,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,MIGHTY,5,67,71,NaN,49.0,NaN,NaN,NaN,NaN,NaN,NaN
95,SUMMIT,6,68,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,SUMMIT,7,74,70,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,SUMMIT,8,84,100,NaN,78.0,63.0,NaN,NaN,NaN,NaN,NaN
98,SUMMIT,3,69,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,SUMMIT,4,70,74,67.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,SUMMIT,5,77,90,NaN,72.0,NaN,NaN,NaN,NaN,NaN,NaN
101,WILLIAMS,6,77,89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,WILLIAMS,7,93,89,91.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,WILLIAMS,8,91,94,NaN,91.0,87.0,NaN,NaN,NaN,NaN,NaN
104,WILLIAMS,3,71,79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,WILLIAMS,4,53,71,48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,WILLIAMS,5,68,84,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN

In [1558]:
met = pd.concat([met_staar38, met_eoccopy], ignore_index=True, sort=False)
met

,Group,Grade,Reading,Math,Writing,Sc,SS,Alg1,Eng1,Eng2,History,Biology
0,State,3,76.0,77.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,State,4,72.0,78.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,5,78.0,84.0,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN
3,State,6,66.0,76.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,State,7,72.0,71.0,67.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,State,8,76.0,78.0,NaN,74.0,64.0,NaN,NaN,NaN,NaN,NaN
6,ARLINGTON ISD,3,70.0,71.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,ARLINGTON ISD,4,67.0,74.0,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,ARLINGTON ISD,5,74.0,80.0,NaN,69.0,NaN,NaN,NaN,NaN,NaN,NaN
9,ARLINGTON ISD,6,65.0,76.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,ARLINGTON ISD,7,68.0,69.0,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,ARLINGTON ISD,8,73.0,65.0,NaN,70.0,59.0,NaN,NaN,NaN,NaN,NaN
12,DALLAS ISD (057905),3,67.0,74.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,DALLAS ISD (057905),4,62.0,75.0,51.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,DALLAS ISD (057905),5,71.0,81.0,NaN,69.0,NaN,NaN,NaN,NaN,NaN,NaN
15,DALLAS ISD (057905),6,54.0,67.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,DALLAS ISD (057905),7,62.0,54.0,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,DALLAS ISD (057905),8,65.0,76.0,NaN,66.0,59.0,NaN,NaN,NaN,NaN,NaN
18,FORT WORTH ISD,3,67.0,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,FORT WORTH ISD,4,62.0,66.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,FORT WORTH ISD,5,70.0,76.0,NaN,64.0,NaN,NaN,NaN,NaN,NaN,NaN
21,FORT WORTH ISD,6,56.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,FORT WORTH ISD,7,62.0,44.0,53.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,FORT WORTH ISD,8,61.0,67.0,NaN,62.0,48.0,NaN,NaN,NaN,NaN,NaN
24,GRAND PRAIRIE ISD,3,74.0,75.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,GRAND PRAIRIE ISD,4,70.0,75.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,GRAND PRAIRIE ISD,5,77.0,83.0,NaN,73.0,NaN,NaN,NaN,NaN,NaN,NaN
27,GRAND PRAIRIE ISD,6,60.0,73.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,GRAND PRAIRIE ISD,7,66.0,69.0,47.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,GRAND PRAIRIE ISD,8,73.0,79.0,NaN,71.0,58.0,NaN,NaN,NaN,NaN,NaN
30,IRVING ISD,3,65.0,68.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,IRVING ISD,4,60.0,74.0,51.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,IRVING ISD,5,72.0,78.0,NaN,69.0,NaN,NaN,NaN,NaN,NaN,NaN
33,IRVING ISD,6,55.0,67.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,IRVING ISD,7,59.0,70.0,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,IRVING ISD,8,60.0,71.0,NaN,65.0,52.0,NaN,NaN,NaN,NaN,NaN
36,UPLIFT EDUCATION,3,67.0,71.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,UPLIFT EDUCATION,4,62.0,74.0,53.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,UPLIFT EDUCATION,5,74.0,84.0,NaN,63.0,NaN,NaN,NaN,NaN,NaN,NaN
39,UPLIFT EDUCATION,6,64.0,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,UPLIFT EDUCATION,7,71.0,69.0,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,UPLIFT EDUCATION,8,81.0,75.0,NaN,74.0,63.0,NaN,NaN,NaN,NaN,NaN
42,INFINITY,6,74.0,94.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,INFINITY,7,76.0,77.0,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,INFINITY,8,85.0,100.0,NaN,84.0,77.0,NaN,NaN,NaN,NaN,NaN
45,INFINITY,3,77.0,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,INFINITY,4,62.0,75.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,INFINITY,5,71.0,82.0,NaN,54.0,NaN,NaN,NaN,NaN,NaN,NaN
48,GRAND,3,63.0,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,GRAND,4,54.0,58.0,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,GRAND,5,71.0,82.0,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN
51,UPLIFT GRADUS PREPARATORY,3,60.0,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,UPLIFT GRADUS PREPARATORY,4,68.0,74.0,47.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,HAMPTON,6,52.0,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,HAMPTON,7,64.0,38.0,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,HAMPTON,8,85.0,0.0,NaN,63.0,52.0,NaN,NaN,NaN,NaN,NaN
56,HAMPTON,3,59.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,HAMPTON,4,56.0,67.0,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,HAMPTON,5,70.0,84.0,NaN,52.0,NaN,NaN,NaN,NaN,NaN,NaN
59,HEIGHTS,6,61.0,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,HEIGHTS,7,61.0,73.0,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,HEIGHTS,8,76.0,90.0,NaN,72.0,53.0,NaN,NaN,NaN,NaN,NaN
62,HEIGHTS,3,63.0,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,HEIGHTS,4,55.0,81.0,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,HEIGHTS,5,76.0,78.0,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN
65,LUNA,3,79.0,80.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,LUNA,4,71.0,75.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,LUNA,5,79.0,93.0,NaN,76.0,NaN,NaN,NaN,NaN,NaN,NaN
68,PEAK,6,48.0,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,PEAK,7,64.0,69.0,68.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,PEAK,8,82.0,64.0,NaN,79.0,66.0,NaN,NaN,NaN,NaN,NaN
71,PEAK,3,77.0,81.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,PEAK,4,73.0,89.0,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,PEAK,5,78.0,78.0,NaN,49.0,NaN,NaN,NaN,NaN,NaN,NaN
74,UPLIFT PINNACLE PREPARATORY PRI,3,67.0,71.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,UPLIFT PINNACLE PREPARATORY PRI,4,62.0,68.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,UPLIFT PINNACLE PREPARATORY PRI,5,68.0,89.0,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN
77,UPLIFT TRIUMPH PREPARATORY SCHOOL,3,64.0,74.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,UPLIFT TRIUMPH PREPARATORY SCHOOL,4,63.0,68.0,46.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,UPLIFT TRIUMPH PREPARATORY SCHOOL,5,71.0,89.0,NaN,69.0,NaN,NaN,NaN,NaN,NaN,NaN
80,NORTH HILLS,3,94.0,95.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NORTH HILLS,4,91.0,92.0,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,NORTH HILLS,5,98.0,98.0,NaN,92.0,NaN,NaN,NaN,NaN,NaN,NaN
83,NORTH HILLS,6,94.0,94.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,NORTH HILLS,7,98.0,97.0,97.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,NORTH HILLS,8,98.0,90.0,NaN,96.0,89.0,NaN,NaN,NaN,NaN,NaN
86,UPLIFT MERIDIAN SCHOOL,3,58.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,UPLIFT MERIDIAN SCHOOL,4,44.0,66.0,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,UPLIFT MERIDIAN SCHOOL,5,61.0,71.0,NaN,43.0,NaN,NaN,NaN,NaN,NaN,NaN
89,MIGHTY,6,62.0,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,MIGHTY,7,54.0,30.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,MIGHTY,8,69.0,31.0,NaN,45.0,32.0,NaN,NaN,NaN,NaN,NaN
92,MIGHTY,3,44.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,MIGHTY,4,50.0,65.0,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,MIGHTY,5,67.0,71.0,NaN,49.0,NaN,NaN,NaN,NaN,NaN,NaN
95,SUMMIT,6,68.0,73.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,SUMMIT,7,74.0,70.0,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,SUMMIT,8,84.0,100.0,NaN,78.0,63.0,NaN,NaN,NaN,NaN,NaN
98,SUMMIT,3,69.0,77.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,SUMMIT,4,70.0,74.0,67.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,SUMMIT,5,77.0,90.0,NaN,72.0,NaN,NaN,NaN,NaN,NaN,NaN
101,WILLIAMS,6,77.0,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,WILLIAMS,7,93.0,89.0,91.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,WILLIAMS,8,91.0,94.0,NaN,91.0,87.0,NaN,NaN,NaN,NaN,NaN
104,WILLIAMS,3,71.0,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,WILLIAMS,4,53.0,71.0,48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,WILLIAMS,5,68.0,84.0,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN
107,State,EOC,NaN,NaN,NaN,NaN,NaN,83.0,60.0,66.0,92.0,87.0
108,ARLINGTON ISD,EOC,NaN,NaN,NaN,NaN,NaN,79.0,55.0,61.0,90.0,84.0
109,DALLAS ISD (057905),EOC,NaN,NaN,NaN,NaN,NaN,82.0,50.0,57.0,93.0,84.0
110,FORT WORTH ISD,EOC,NaN,NaN,NaN,NaN,NaN,76.0,49.0,55.0,93.0,81.0
111,GRAND PRAIRIE ISD,EOC,NaN,NaN,NaN,NaN,NaN,85.0,53.0,58.0,92.0,80.0
112,IRVING ISD,EOC,NaN,NaN,NaN,NaN,NaN,86.0,56.0,57.0,91.0,86.0
113,UPLIFT EDUCATION,EOC,NaN,NaN,NaN,NaN,NaN,84.0,67.0,76.0,93.0,91.0
114,GRAND,EOC,NaN,NaN,NaN,NaN,NaN,79.0,73.0,85.0,NaN,NaN
115,HAMPTON,EOC,NaN,NaN,NaN,NaN,NaN,72.0,67.0,74.0,93.0,95.0
116,HEIGHTS,EOC,NaN,NaN,NaN,NaN,NaN,91.0,54.0,67.0,93.0,89.0
117,LUNA,EOC,NaN,NaN,NaN,NaN,NaN,58.0,50.0,63.0,95.0,88.0
118,PEAK,EOC,NaN,NaN,NaN,NaN,NaN,77.0,63.0,74.0,82.0,85.0
119,WILLIAMS,EOC,NaN,NaN,NaN,NaN,NaN,75.0,66.0,77.0,91.0,87.0
120,NORTH HILLS,EOC,NaN,NaN,NaN,NaN,NaN,77.0,92.0,95.0,99.0,98.0
121,MIGHTY,EOC,NaN,NaN,NaN,NaN,NaN,34.0,63.0,68.0,87.0,89.0
122,SUMMIT,EOC,NaN,NaN,NaN,NaN,NaN,45.0,80.0,80.0,95.0,95.0
123,INFINITY,EOC,NaN,NaN,NaN,NaN,NaN,NaN,55.0,79.0,95.0,86.0

In [1559]:
metpv = met.pivot_table(index='Group', columns='Grade')

In [1560]:
metpv

                                   Alg1 Biology  Eng1  Eng2 History  Math  \
Grade                               EOC     EOC   EOC   EOC     EOC     3
Group
ARLINGTON ISD                      79.0    84.0  55.0  61.0    90.0  71.0
DALLAS ISD (057905)                82.0    84.0  50.0  57.0    93.0  74.0
FORT WORTH ISD                     76.0    81.0  49.0  55.0    93.0  65.0
GRAND                              79.0     NaN  73.0  85.0     NaN  65.0
GRAND PRAIRIE ISD                  85.0    80.0  53.0  58.0    92.0  75.0
HAMPTON                            72.0    95.0  67.0  74.0    93.0  61.0
HEIGHTS                            91.0    89.0  54.0  67.0    93.0  63.0
INFINITY                            NaN    86.0  55.0  79.0    95.0  70.0
IRVING ISD                         86.0    86.0  56.0  57.0    91.0  68.0
LUNA                               58.0    88.0  50.0  63.0    95.0  80.0
MIGHTY                             34.0    89.0  63.0  68.0    87.0  62.0
NORTH HILLS                        77.0    98.0  92.0  95.0    99.0  95.0
PEAK                               77.0    85.0  63.0  74.0    82.0  81.0
SUMMIT                             45.0    95.0  80.0  80.0    95.0  77.0
State                              83.0    87.0  60.0  66.0    92.0  77.0
UPLIFT EDUCATION                   84.0    91.0  67.0  76.0    93.0  71.0
UPLIFT GRADUS PREPARATORY           NaN     NaN   NaN   NaN     NaN  64.0
UPLIFT MERIDIAN SCHOOL              NaN     NaN   NaN   NaN     NaN  62.0
UPLIFT PINNACLE PREPARATORY PRI     NaN     NaN   NaN   NaN     NaN  71.0
UPLIFT TRIUMPH PREPARATORY SCHOOL   NaN     NaN   NaN   NaN     NaN  74.0
WILLIAMS                           75.0    87.0  66.0  77.0    91.0  79.0

                                                           ... Reading        \
Grade                                 4     5     6     7  ...       4     5
Group                                                      ...
ARLINGTON ISD                      74.0  80.0  76.0  69.0  ...    67.0  74.0
DALLAS ISD (057905)                75.0  81.0  67.0  54.0  ...    62.0  71.0
FORT WORTH ISD                     66.0  76.0  61.0  44.0  ...    62.0  70.0
GRAND                              58.0  82.0   NaN   NaN  ...    54.0  71.0
GRAND PRAIRIE ISD                  75.0  83.0  73.0  69.0  ...    70.0  77.0
HAMPTON                            67.0  84.0  79.0  38.0  ...    56.0  70.0
HEIGHTS                            81.0  78.0  79.0  73.0  ...    55.0  76.0
INFINITY                           75.0  82.0  94.0  77.0  ...    62.0  71.0
IRVING ISD                         74.0  78.0  67.0  70.0  ...    60.0  72.0
LUNA                               75.0  93.0   NaN   NaN  ...    71.0  79.0
MIGHTY                             65.0  71.0  70.0  30.0  ...    50.0  67.0
NORTH HILLS                        92.0  98.0  94.0  97.0  ...    91.0  98.0
PEAK                               89.0  78.0  63.0  69.0  ...    73.0  78.0
SUMMIT                             74.0  90.0  73.0  70.0  ...    70.0  77.0
State                              78.0  84.0  76.0  71.0  ...    72.0  78.0
UPLIFT EDUCATION                   74.0  84.0  79.0  69.0  ...    62.0  74.0
UPLIFT GRADUS PREPARATORY          74.0   NaN   NaN   NaN  ...    68.0   NaN
UPLIFT MERIDIAN SCHOOL             66.0  71.0   NaN   NaN  ...    44.0  61.0
UPLIFT PINNACLE PREPARATORY PRI    68.0  89.0   NaN   NaN  ...    62.0  68.0
UPLIFT TRIUMPH PREPARATORY SCHOOL  68.0  89.0   NaN   NaN  ...    63.0  71.0
WILLIAMS                           71.0  84.0  89.0  89.0  ...    53.0  68.0

                                                       SS    Sc       Writing  \
Grade                                 6     7     8     8     5     8       4
Group
ARLINGTON ISD                      65.0  68.0  73.0  59.0  69.0  70.0    57.0
DALLAS ISD (057905)                54.0  62.0  65.0  59.0  69.0  66.0    51.0
FORT WORTH ISD                     56.0  62.0  61.0  48.0  64.0  62.0    49.0
GRAND                               NaN   NaN   NaN   NaN  65.0   NaN    42.0
GRAND PRAIRIE ISD                  60.0  66.0  73.0  58.0  73.0  71.0    45.0
HAMPTON                            52.0  64.0  85.0  52.0  52.0  63.0    52.0
HEIGHTS                            61.0  61.0  76.0  53.0  65.0  72.0    50.0
INFINITY                           74.0  76.0  85.0  77.0  54.0  84.0    55.0
IRVING ISD                         55.0  59.0  60.0  52.0  69.0  65.0    51.0
LUNA                                NaN   NaN   NaN   NaN  76.0   NaN    62.0
MIGHTY                             62.0  54.0  69.0  32.0  49.0  45.0    29.0
NORTH HILLS                        94.0  98.0  98.0  89.0  92.0  96.0    86.0
PEAK                               48.0  64.0  82.0  66.0  49.0  79.0    70.0
SUMMIT                             68.0  74.0  84.0  63.0  72.0  78.0    67.0
State                              66.0  72.0  76.0  64.0  75.0  74.0    61.0
UPLIFT EDUCATION                   64.0  71.0  81.0  63.0  63.0  74.0    53.0
UPLIFT GRADUS PREPARATORY           NaN   NaN   NaN   NaN   NaN   NaN    47.0
UPLIFT MERIDIAN SCHOOL              NaN   NaN   NaN   NaN  43.0   NaN    38.0
UPLIFT PINNACLE PREPARATORY PRI     NaN   NaN   NaN   NaN  65.0   NaN    45.0
UPLIFT TRIUMPH PREPARATORY SCHOOL   NaN   NaN   NaN   NaN  69.0   NaN    46.0
WILLIAMS                           77.0  93.0  91.0  87.0  60.0  91.0    48.0


Grade                                 7
Group
ARLINGTON ISD                      63.0
DALLAS ISD (057905)                56.0
FORT WORTH ISD                     53.0
GRAND                               NaN
GRAND PRAIRIE ISD                  47.0
HAMPTON                            59.0
HEIGHTS                            50.0
INFINITY                           70.0
IRVING ISD                         54.0
LUNA                                NaN
MIGHTY                             55.0
NORTH HILLS                        97.0
PEAK                               68.0
SUMMIT                             79.0
State                              67.0
UPLIFT EDUCATION                   70.0
UPLIFT GRADUS PREPARATORY           NaN
UPLIFT MERIDIAN SCHOOL              NaN
UPLIFT PINNACLE PREPARATORY PRI     NaN
UPLIFT TRIUMPH PREPARATORY SCHOOL   NaN
WILLIAMS                           91.0

[21 rows x 22 columns]

In [1561]:
met = metpv.T.sort_index(level=1, axis=0).T

In [1562]:
met

,Math,Reading,Math,Reading,Writing,Math,Reading,Sc,Math,Reading,...,Writing,Math,Reading,SS,Sc,Alg1,Biology,Eng1,Eng2,History
Grade,3,3,4,4,4,5,5,5,6,6,...,7,8,8,8,8,EOC,EOC,EOC,EOC,EOC
Group,,,,,,,,,,,,,,,,,,,,,
ARLINGTON ISD,71.0,70.0,74.0,67.0,57.0,80.0,74.0,69.0,76.0,65.0,...,63.0,65.0,73.0,59.0,70.0,79.0,84.0,55.0,61.0,90.0
DALLAS ISD (057905),74.0,67.0,75.0,62.0,51.0,81.0,71.0,69.0,67.0,54.0,...,56.0,76.0,65.0,59.0,66.0,82.0,84.0,50.0,57.0,93.0
FORT WORTH ISD,65.0,67.0,66.0,62.0,49.0,76.0,70.0,64.0,61.0,56.0,...,53.0,67.0,61.0,48.0,62.0,76.0,81.0,49.0,55.0,93.0
GRAND,65.0,63.0,58.0,54.0,42.0,82.0,71.0,65.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,79.0,NaN,73.0,85.0,NaN
GRAND PRAIRIE ISD,75.0,74.0,75.0,70.0,45.0,83.0,77.0,73.0,73.0,60.0,...,47.0,79.0,73.0,58.0,71.0,85.0,80.0,53.0,58.0,92.0
HAMPTON,61.0,59.0,67.0,56.0,52.0,84.0,70.0,52.0,79.0,52.0,...,59.0,0.0,85.0,52.0,63.0,72.0,95.0,67.0,74.0,93.0
HEIGHTS,63.0,63.0,81.0,55.0,50.0,78.0,76.0,65.0,79.0,61.0,...,50.0,90.0,76.0,53.0,72.0,91.0,89.0,54.0,67.0,93.0
INFINITY,70.0,77.0,75.0,62.0,55.0,82.0,71.0,54.0,94.0,74.0,...,70.0,100.0,85.0,77.0,84.0,NaN,86.0,55.0,79.0,95.0
IRVING ISD,68.0,65.0,74.0,60.0,51.0,78.0,72.0,69.0,67.0,55.0,...,54.0,71.0,60.0,52.0,65.0,86.0,86.0,56.0,57.0,91.0
LUNA,80.0,79.0,75.0,71.0,62.0,93.0,79.0,76.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,58.0,88.0,50.0,63.0,95.0
MIGHTY,62.0,44.0,65.0,50.0,29.0,71.0,67.0,49.0,70.0,62.0,...,55.0,31.0,69.0,32.0,45.0,34.0,89.0,63.0,68.0,87.0
NORTH HILLS,95.0,94.0,92.0,91.0,86.0,98.0,98.0,92.0,94.0,94.0,...,97.0,90.0,98.0,89.0,96.0,77.0,98.0,92.0,95.0,99.0
PEAK,81.0,77.0,89.0,73.0,70.0,78.0,78.0,49.0,63.0,48.0,...,68.0,64.0,82.0,66.0,79.0,77.0,85.0,63.0,74.0,82.0
SUMMIT,77.0,69.0,74.0,70.0,67.0,90.0,77.0,72.0,73.0,68.0,...,79.0,100.0,84.0,63.0,78.0,45.0,95.0,80.0,80.0,95.0
State,77.0,76.0,78.0,72.0,61.0,84.0,78.0,75.0,76.0,66.0,...,67.0,78.0,76.0,64.0,74.0,83.0,87.0,60.0,66.0,92.0
UPLIFT EDUCATION,71.0,67.0,74.0,62.0,53.0,84.0,74.0,63.0,79.0,64.0,...,70.0,75.0,81.0,63.0,74.0,84.0,91.0,67.0,76.0,93.0
UPLIFT GRADUS PREPARATORY,64.0,60.0,74.0,68.0,47.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UPLIFT MERIDIAN SCHOOL,62.0,58.0,66.0,44.0,38.0,71.0,61.0,43.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UPLIFT PINNACLE PREPARATORY PRI,71.0,67.0,68.0,62.0,45.0,89.0,68.0,65.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UPLIFT TRIUMPH PREPARATORY SCHOOL,74.0,64.0,68.0,63.0,46.0,89.0,71.0,69.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WILLIAMS,79.0,71.0,71.0,53.0,48.0,84.0,68.0,60.0,89.0,77.0,...,91.0,94.0,91.0,87.0,91.0,75.0,87.0,66.0,77.0,91.0

In [1563]:
met.columns.names = ['Subjects', 'Grades']

In [1564]:
met.sort_index(inplace=True)
met

Subjects,Math,Reading,Math,Reading,Writing,Math,Reading,Sc,Math,Reading,...,Writing,Math,Reading,SS,Sc,Alg1,Biology,Eng1,Eng2,History
Grades,3,3,4,4,4,5,5,5,6,6,...,7,8,8,8,8,EOC,EOC,EOC,EOC,EOC
Group,,,,,,,,,,,,,,,,,,,,,
ARLINGTON ISD,71.0,70.0,74.0,67.0,57.0,80.0,74.0,69.0,76.0,65.0,...,63.0,65.0,73.0,59.0,70.0,79.0,84.0,55.0,61.0,90.0
DALLAS ISD (057905),74.0,67.0,75.0,62.0,51.0,81.0,71.0,69.0,67.0,54.0,...,56.0,76.0,65.0,59.0,66.0,82.0,84.0,50.0,57.0,93.0
FORT WORTH ISD,65.0,67.0,66.0,62.0,49.0,76.0,70.0,64.0,61.0,56.0,...,53.0,67.0,61.0,48.0,62.0,76.0,81.0,49.0,55.0,93.0
GRAND,65.0,63.0,58.0,54.0,42.0,82.0,71.0,65.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,79.0,NaN,73.0,85.0,NaN
GRAND PRAIRIE ISD,75.0,74.0,75.0,70.0,45.0,83.0,77.0,73.0,73.0,60.0,...,47.0,79.0,73.0,58.0,71.0,85.0,80.0,53.0,58.0,92.0
HAMPTON,61.0,59.0,67.0,56.0,52.0,84.0,70.0,52.0,79.0,52.0,...,59.0,0.0,85.0,52.0,63.0,72.0,95.0,67.0,74.0,93.0
HEIGHTS,63.0,63.0,81.0,55.0,50.0,78.0,76.0,65.0,79.0,61.0,...,50.0,90.0,76.0,53.0,72.0,91.0,89.0,54.0,67.0,93.0
INFINITY,70.0,77.0,75.0,62.0,55.0,82.0,71.0,54.0,94.0,74.0,...,70.0,100.0,85.0,77.0,84.0,NaN,86.0,55.0,79.0,95.0
IRVING ISD,68.0,65.0,74.0,60.0,51.0,78.0,72.0,69.0,67.0,55.0,...,54.0,71.0,60.0,52.0,65.0,86.0,86.0,56.0,57.0,91.0
LUNA,80.0,79.0,75.0,71.0,62.0,93.0,79.0,76.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,58.0,88.0,50.0,63.0,95.0
MIGHTY,62.0,44.0,65.0,50.0,29.0,71.0,67.0,49.0,70.0,62.0,...,55.0,31.0,69.0,32.0,45.0,34.0,89.0,63.0,68.0,87.0
NORTH HILLS,95.0,94.0,92.0,91.0,86.0,98.0,98.0,92.0,94.0,94.0,...,97.0,90.0,98.0,89.0,96.0,77.0,98.0,92.0,95.0,99.0
PEAK,81.0,77.0,89.0,73.0,70.0,78.0,78.0,49.0,63.0,48.0,...,68.0,64.0,82.0,66.0,79.0,77.0,85.0,63.0,74.0,82.0
SUMMIT,77.0,69.0,74.0,70.0,67.0,90.0,77.0,72.0,73.0,68.0,...,79.0,100.0,84.0,63.0,78.0,45.0,95.0,80.0,80.0,95.0
State,77.0,76.0,78.0,72.0,61.0,84.0,78.0,75.0,76.0,66.0,...,67.0,78.0,76.0,64.0,74.0,83.0,87.0,60.0,66.0,92.0
UPLIFT EDUCATION,71.0,67.0,74.0,62.0,53.0,84.0,74.0,63.0,79.0,64.0,...,70.0,75.0,81.0,63.0,74.0,84.0,91.0,67.0,76.0,93.0
UPLIFT GRADUS PREPARATORY,64.0,60.0,74.0,68.0,47.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UPLIFT MERIDIAN SCHOOL,62.0,58.0,66.0,44.0,38.0,71.0,61.0,43.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UPLIFT PINNACLE PREPARATORY PRI,71.0,67.0,68.0,62.0,45.0,89.0,68.0,65.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UPLIFT TRIUMPH PREPARATORY SCHOOL,74.0,64.0,68.0,63.0,46.0,89.0,71.0,69.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WILLIAMS,79.0,71.0,71.0,53.0,48.0,84.0,68.0,60.0,89.0,77.0,...,91.0,94.0,91.0,87.0,91.0,75.0,87.0,66.0,77.0,91.0

### Rearrange row order to ease cut and paste to designated spreadsheet ###

In [1565]:
pd.Series(met.index).values

array(['ARLINGTON ISD', 'DALLAS ISD (057905)', 'FORT WORTH ISD', 'GRAND',
       'GRAND PRAIRIE ISD', 'HAMPTON', 'HEIGHTS', 'INFINITY',
       'IRVING ISD', 'LUNA', 'MIGHTY', 'NORTH HILLS', 'PEAK', 'SUMMIT',
       'State', 'UPLIFT EDUCATION', 'UPLIFT GRADUS PREPARATORY',
       'UPLIFT MERIDIAN SCHOOL', 'UPLIFT PINNACLE PREPARATORY PRI',
       'UPLIFT TRIUMPH PREPARATORY SCHOOL', 'WILLIAMS'], dtype=object)

In [1566]:
met = met.reindex(['State','ARLINGTON ISD', 'DALLAS ISD (057905)', 'FORT WORTH ISD', 'GRAND PRAIRIE ISD',
             'IRVING ISD','UPLIFT EDUCATION','UPLIFT GRADUS PREPARATORY','GRAND','HAMPTON', 
             'HEIGHTS', 'INFINITY','LUNA',  'UPLIFT MERIDIAN SCHOOL','MIGHTY',
             'NORTH HILLS', 'PEAK', 'UPLIFT PINNACLE PREPARATORY PRI','SUMMIT',
             'UPLIFT TRIUMPH PREPARATORY SCHOOL', 'WILLIAMS'])

In [1567]:
# replace NaN with -
met.replace(np.nan, '-', inplace=True)

In [1568]:
met

Subjects,Math,Reading,Math,Reading,Writing,Math,Reading,Sc,Math,Reading,...,Writing,Math,Reading,SS,Sc,Alg1,Biology,Eng1,Eng2,History
Grades,3,3,4,4,4,5,5,5,6,6,...,7,8,8,8,8,EOC,EOC,EOC,EOC,EOC
Group,,,,,,,,,,,,,,,,,,,,,
State,77.0,76.0,78.0,72.0,61.0,84,78,75,76,66,...,67,78,76,64,74,83,87,60,66,92
ARLINGTON ISD,71.0,70.0,74.0,67.0,57.0,80,74,69,76,65,...,63,65,73,59,70,79,84,55,61,90
DALLAS ISD (057905),74.0,67.0,75.0,62.0,51.0,81,71,69,67,54,...,56,76,65,59,66,82,84,50,57,93
FORT WORTH ISD,65.0,67.0,66.0,62.0,49.0,76,70,64,61,56,...,53,67,61,48,62,76,81,49,55,93
GRAND PRAIRIE ISD,75.0,74.0,75.0,70.0,45.0,83,77,73,73,60,...,47,79,73,58,71,85,80,53,58,92
IRVING ISD,68.0,65.0,74.0,60.0,51.0,78,72,69,67,55,...,54,71,60,52,65,86,86,56,57,91
UPLIFT EDUCATION,71.0,67.0,74.0,62.0,53.0,84,74,63,79,64,...,70,75,81,63,74,84,91,67,76,93
UPLIFT GRADUS PREPARATORY,64.0,60.0,74.0,68.0,47.0,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
GRAND,65.0,63.0,58.0,54.0,42.0,82,71,65,-,-,...,-,-,-,-,-,79,-,73,85,-
HAMPTON,61.0,59.0,67.0,56.0,52.0,84,70,52,79,52,...,59,0,85,52,63,72,95,67,74,93
HEIGHTS,63.0,63.0,81.0,55.0,50.0,78,76,65,79,61,...,50,90,76,53,72,91,89,54,67,93
INFINITY,70.0,77.0,75.0,62.0,55.0,82,71,54,94,74,...,70,100,85,77,84,-,86,55,79,95
LUNA,80.0,79.0,75.0,71.0,62.0,93,79,76,-,-,...,-,-,-,-,-,58,88,50,63,95
UPLIFT MERIDIAN SCHOOL,62.0,58.0,66.0,44.0,38.0,71,61,43,-,-,...,-,-,-,-,-,-,-,-,-,-
MIGHTY,62.0,44.0,65.0,50.0,29.0,71,67,49,70,62,...,55,31,69,32,45,34,89,63,68,87
NORTH HILLS,95.0,94.0,92.0,91.0,86.0,98,98,92,94,94,...,97,90,98,89,96,77,98,92,95,99
PEAK,81.0,77.0,89.0,73.0,70.0,78,78,49,63,48,...,68,64,82,66,79,77,85,63,74,82
UPLIFT PINNACLE PREPARATORY PRI,71.0,67.0,68.0,62.0,45.0,89,68,65,-,-,...,-,-,-,-,-,-,-,-,-,-
SUMMIT,77.0,69.0,74.0,70.0,67.0,90,77,72,73,68,...,79,100,84,63,78,45,95,80,80,95
UPLIFT TRIUMPH PREPARATORY SCHOOL,74.0,64.0,68.0,63.0,46.0,89,71,69,-,-,...,-,-,-,-,-,-,-,-,-,-
WILLIAMS,79.0,71.0,71.0,53.0,48.0,84,68,60,89,77,...,91,94,91,87,91,75,87,66,77,91

### Rearrange column order ###

In [1569]:
met = met.swaplevel(axis=1)
met.columns
met2 = met.copy()

MultiIndex(levels=[[3, 4, 5, 6, 7, 8, 'EOC'], ['Alg1', 'Biology', 'Eng1', 'Eng2', 'History', 'Math', 'Reading', 'SS', 'Sc', 'Writing']],
           codes=[[0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 6, 6], [5, 6, 5, 6, 9, 5, 6, 8, 5, 6, 5, 6, 9, 5, 6, 7, 8, 0, 1, 2, 3, 4]],
           names=['Grades', 'Subjects'])

In [1570]:
met2.columns.get_level_values(0)
met2.columns.get_level_values(1)

Index([    3,     3,     4,     4,     4,     5,     5,     5,     6,     6,
           7,     7,     7,     8,     8,     8,     8, 'EOC', 'EOC', 'EOC',
       'EOC', 'EOC'],
      dtype='object', name='Grades')

Index(['Math', 'Reading', 'Math', 'Reading', 'Writing', 'Math', 'Reading',
       'Sc', 'Math', 'Reading', 'Math', 'Reading', 'Writing', 'Math',
       'Reading', 'SS', 'Sc', 'Alg1', 'Biology', 'Eng1', 'Eng2', 'History'],
      dtype='object', name='Subjects')

In [1571]:
grades_level = pd.Categorical(met2.columns.get_level_values(0), 
                              categories=[3, 4, 5, 6, 7, 8, 'EOC'],
                             ordered=True)
subjects_level = pd.Categorical(met2.columns.get_level_values(1),
                               categories=['Math', 'Reading', 'Sc', 'SS', 'Writing','Alg1', 'Eng1', 'Eng2', 'History','Biology'],
                               ordered=True)
met2.columns = pd.MultiIndex.from_arrays([grades_level, subjects_level])
met2 = met2.sort_index(axis=1, level=[0,1])
met2;

In [1572]:
met2.columns.names = ['Subjects', 'Grades']
met2

Subjects                              3             4                    5  \
Grades                             Math Reading  Math Reading Writing Math
Group
State                              77.0    76.0  78.0    72.0    61.0   84
ARLINGTON ISD                      71.0    70.0  74.0    67.0    57.0   80
DALLAS ISD (057905)                74.0    67.0  75.0    62.0    51.0   81
FORT WORTH ISD                     65.0    67.0  66.0    62.0    49.0   76
GRAND PRAIRIE ISD                  75.0    74.0  75.0    70.0    45.0   83
IRVING ISD                         68.0    65.0  74.0    60.0    51.0   78
UPLIFT EDUCATION                   71.0    67.0  74.0    62.0    53.0   84
UPLIFT GRADUS PREPARATORY          64.0    60.0  74.0    68.0    47.0    -
GRAND                              65.0    63.0  58.0    54.0    42.0   82
HAMPTON                            61.0    59.0  67.0    56.0    52.0   84
HEIGHTS                            63.0    63.0  81.0    55.0    50.0   78
INFINITY                           70.0    77.0  75.0    62.0    55.0   82
LUNA                               80.0    79.0  75.0    71.0    62.0   93
UPLIFT MERIDIAN SCHOOL             62.0    58.0  66.0    44.0    38.0   71
MIGHTY                             62.0    44.0  65.0    50.0    29.0   71
NORTH HILLS                        95.0    94.0  92.0    91.0    86.0   98
PEAK                               81.0    77.0  89.0    73.0    70.0   78
UPLIFT PINNACLE PREPARATORY PRI    71.0    67.0  68.0    62.0    45.0   89
SUMMIT                             77.0    69.0  74.0    70.0    67.0   90
UPLIFT TRIUMPH PREPARATORY SCHOOL  74.0    64.0  68.0    63.0    46.0   89
WILLIAMS                           79.0    71.0  71.0    53.0    48.0   84

Subjects                                         6          ...       7    8  \
Grades                            Reading  Sc Math Reading  ... Writing Math
Group                                                       ...
State                                  78  75   76      66  ...      67   78
ARLINGTON ISD                          74  69   76      65  ...      63   65
DALLAS ISD (057905)                    71  69   67      54  ...      56   76
FORT WORTH ISD                         70  64   61      56  ...      53   67
GRAND PRAIRIE ISD                      77  73   73      60  ...      47   79
IRVING ISD                             72  69   67      55  ...      54   71
UPLIFT EDUCATION                       74  63   79      64  ...      70   75
UPLIFT GRADUS PREPARATORY               -   -    -       -  ...       -    -
GRAND                                  71  65    -       -  ...       -    -
HAMPTON                                70  52   79      52  ...      59    0
HEIGHTS                                76  65   79      61  ...      50   90
INFINITY                               71  54   94      74  ...      70  100
LUNA                                   79  76    -       -  ...       -    -
UPLIFT MERIDIAN SCHOOL                 61  43    -       -  ...       -    -
MIGHTY                                 67  49   70      62  ...      55   31
NORTH HILLS                            98  92   94      94  ...      97   90
PEAK                                   78  49   63      48  ...      68   64
UPLIFT PINNACLE PREPARATORY PRI        68  65    -       -  ...       -    -
SUMMIT                                 77  72   73      68  ...      79  100
UPLIFT TRIUMPH PREPARATORY SCHOOL      71  69    -       -  ...       -    -
WILLIAMS                               68  60   89      77  ...      91   94

Subjects                                           EOC                    \
Grades                            Reading  Sc  SS Alg1 Eng1 Eng2 History
Group
State                                  76  74  64   83   60   66      92
ARLINGTON ISD                          73  70  59   79   55   61      90
DALLAS ISD (057905)                    65  66  59   82   50   57      93
FORT WORTH ISD                         61  62  48   76   49   55      93
GRAND PRAIRIE ISD                      73  71  58   85   53   58      92
IRVING ISD                             60  65  52   86   56   57      91
UPLIFT EDUCATION                       81  74  63   84   67   76      93
UPLIFT GRADUS PREPARATORY               -   -   -    -    -    -       -
GRAND                                   -   -   -   79   73   85       -
HAMPTON                                85  63  52   72   67   74      93
HEIGHTS                                76  72  53   91   54   67      93
INFINITY                               85  84  77    -   55   79      95
LUNA                                    -   -   -   58   50   63      95
UPLIFT MERIDIAN SCHOOL                  -   -   -    -    -    -       -
MIGHTY                                 69  45  32   34   63   68      87
NORTH HILLS                            98  96  89   77   92   95      99
PEAK                                   82  79  66   77   63   74      82
UPLIFT PINNACLE PREPARATORY PRI         -   -   -    -    -    -       -
SUMMIT                                 84  78  63   45   80   80      95
UPLIFT TRIUMPH PREPARATORY SCHOOL       -   -   -    -    -    -       -
WILLIAMS                               91  91  87   75   66   77      91

Subjects
Grades                            Biology
Group
State                                  87
ARLINGTON ISD                          84
DALLAS ISD (057905)                    84
FORT WORTH ISD                         81
GRAND PRAIRIE ISD                      80
IRVING ISD                             86
UPLIFT EDUCATION                       91
UPLIFT GRADUS PREPARATORY               -
GRAND                                   -
HAMPTON                                95
HEIGHTS                                89
INFINITY                               86
LUNA                                   88
UPLIFT MERIDIAN SCHOOL                  -
MIGHTY                                 89
NORTH HILLS                            98
PEAK                                   85
UPLIFT PINNACLE PREPARATORY PRI         -
SUMMIT                                 95
UPLIFT TRIUMPH PREPARATORY SCHOOL       -
WILLIAMS                               87

[21 rows x 22 columns]

### Saving result to csv formatted file ###

In [1530]:
met2.to_csv('staar2018spring.csv')